$firstColor: #f7e5dc;
$secondColor: #6f5c56;
$textColor: azure;

.message__box {
  border: 1px solid #000;
  border-radius: 20px;
  max-width: 200px;
  padding: 15px 20px;
  background-color: #6f5c56;
  color: $textColor;
  margin-bottom: 10px;
  &-head {
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 10px;
    background-color: inherit;
  }
  &-text {
    font-size: 20px;
    background-color: inherit;
  }
}
