@import "../../style/global.scss";

.header {
  background-color: $secondColor;
  color: $textColor;
  font-size: 26px;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 0;
  box-sizing: border-box;
}
.headerText {
  font-weight: 200;
}
