@import "../../style/global.scss";
.body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
}

.content {
  display: flex;
  padding-right: 20px;
}
.chats {
  margin-right: 20px;
}
.messages {
  width: 100%;
}
