@import "../../style/global.scss";
.body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
}
.header,
.footer {
  background-color: $secondColor;
  color: $textColor;
  font-size: 26px;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 0;
  box-sizing: border-box;
}
.content {
  display: flex;
}
.chats {
  margin-right: 20px;
}
.messages {
  width: 100%;
}
